.Log-hero{
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
    padding: 6rem;
    padding-left: 9rem;
    padding-right: 9rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}
.Log-hero-container{
    /* border: 1px solid black; */
    border-radius: 20px;
    /* background-color: white; */
    background-image: linear-gradient(to right, rgb(255, 255, 255), #e6f8ff);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.Services{
    /* border: 1px solid black; */
    width: 100%;
    height: 2rem;
}

.Services h4{
    font-weight: 400;
}

.Services:hover{
    color: #0099D7;
}

#service-contact{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #0099D7;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    justify-content: center;
    align-items: center;
    align-content: center;  
}

#service-contact h3{
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-right: 1rem;
}

#service-contact:hover{
    background-color: #020858;
}

.herofiveImg{
    scale: 100%;
}


/* MEDIA QUERIES FOR SCREEN MIN-WIDTH 1024PX /////////////////////////////////////////////////////////// */
@media screen and (min-width: 1024px) {
    .Log-hero{
        /* border: 1px solid black; */
        width: 100%;
        height: 100vh;
        padding: 6rem;
        padding-left: 9rem;
        padding-right: 9rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: space-between;
    }
    .Log-hero-container{
        /* border: 1px solid black; */
        border-radius: 20px;
        /* background-color: white; */
        background-image: linear-gradient(to right, rgb(255, 255, 255), #e6f8ff);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .Services{
        /* border: 1px solid black; */
        width: 100%;
        height: 2rem;
    }
    
    .Services h4{
        font-weight: 400;
    }
    
    .Services:hover{
        color: #0099D7;
    }
    
    #service-contact{ 
        /* border: 1px solid black; */
        border-radius: 10px;
        background-color: #0099D7;
        width: 100% !important;
        height: 2.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        justify-content: center;
        align-items: center;
        align-content: center;  
    }
    
    #service-contact h3{
        color: white;
        font-weight: 500;
        text-decoration: none;
        margin-right: 1rem;
    }
    
    #service-contact:hover{
        background-color: #020858;
    }
    
    .herofiveImg{
        scale: 100%;
    }
  }



  /* MEDIA QUERIES SCREEN FOR MIN-WIDTH 768PX AND MAX-WIDTH 1023PX/////////////////////////////////////////////////// */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .Log-hero{
        /* border: 1px solid black; */
        width: 100%;
        height: 100vh;
        padding: 6rem;
        padding-left: 9rem;
        padding-right: 9rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: space-between;
    }
    .Log-hero-container{
        /* border: 1px solid black; */
        border-radius: 20px;
        /* background-color: white; */
        background-image: linear-gradient(to right, rgb(255, 255, 255), #e6f8ff);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .Services{
        /* border: 1px solid black; */
        width: 100%;
        height: 2rem;
    }
    
    .Services h4{
        font-weight: 400;
    }
    
    .Services:hover{
        color: #0099D7;
    }
    
    #service-contact{
        /* border: 1px solid black; */
        border-radius: 10px;
        background-color: #0099D7;
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        justify-content: center;
        align-items: center;
        align-content: center;  
    }
    
    #service-contact h3{
        color: white;
        font-weight: 500;
        text-decoration: none;
        margin-right: 1rem;
    }
    
    #service-contact:hover{
        background-color: #020858;
    }
    
    .herofiveImg{
        scale: 100%;
    }
  }


  /* MEDIA QUERIES FOR SCREEN MAX-WIDTH 767PX ////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 767px) {
    .Log-hero{
        /* border: 1px solid black; */
        width: 100%;
        height: 100vh;
        padding: 6rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: space-between;
    }
    .Log-hero-container{
        /* border: 1px solid black; */
        border-radius: 20px;
        /* background-color: white; */
        background-image: linear-gradient(to right, rgb(255, 255, 255), #e6f8ff);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 0.99rem;
    }
    
    .Services{
        /* border: 1px solid black; */
        width: 100%;
        height: 2rem;
    }
    
    .Services h4{
        font-weight: 400;
        font-size: 14px ;
    }
    
    .Services:hover{
        color: #0099D7;
    }
    
    #service-contact{
        /* border: 1px solid black; */
        border-radius: 10px;
        background-color: #0099D7;
        width: 100% !important;
        height: 2.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        justify-content: center;
        align-items: center;
        align-content: center;  
    }
    
    #service-contact h3{
        color: white;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
        margin-right: 1rem;
    }
    
    #service-contact:hover{
        background-color: #020858;
    }
    
    .herofiveImg{
        scale: 40%;
    }
}

@media screen and (max-width: 280px) {
   .Log-hero,
   .Log-hero-container{
    padding-left: 1rem;
    padding-right: 1rem;
   }

   .Log-hero-container h1{
    font-size: large;
   }

   .Services h4{
    font-size: smaller;
   }
    
  }
  

