.Eng-hero{
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
    padding: 7rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
.Eng-hero-container{
    /* border: 1px solid black; */
    width: 56%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}

.Eng-hero-image{
    /* border: 1px solid black; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 40%;
    height: auto;
    background-repeat: none;
    background-size: contain;
    display: flex;
}

.Eng-hero-img{
    width: 100%;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#hero5-contact{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #0099D7;
    width: auto;
    height: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    justify-content: center;
    align-items: center;
    align-content: center;  
}

#hero5-contact h3{
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-right: 1rem;
}

.hero5-contact:hover{
    background-color: #020858;
}

.herofiveImg{
    scale: 100%;
}

/* MEDIA QUERIES FOR SCREEN MIN-WIDTH 1024PX /////////////////////////////////////////////////////////// */
@media screen and (min-width: 1024px) {
    /* Adjustments for .Eng-hero */
    .Eng-hero {
        padding: 5rem;
        padding-top: 10rem;
    }

    /* Adjustments for .Eng-hero-container */
    .Eng-hero-container {
        padding-left: 8rem;
    }

    .Eng-hero-container h1{
        font-size: 200%;
    }

    .Eng-hero-container h3{
        font-size: 120%;
    }

    .Eng-hero-container{
        /* border: 1px solid black; */
        width: 56%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
    }
    
    .Eng-hero-image{
        /* border: 1px solid black; */
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: auto;
        height: 23rem;
        background-repeat: none;
        background-size: contain;
        display: flex;
    }
    
    .Eng-hero-img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    /* Adjustments for .Eng-hero-image */
    .Eng-hero-image {
        width: 45%;
    }

    /* Adjustments for .hero5-contact */
    #hero5-contact {
        width: 30%;
    }

    /* Adjustments for .hero5-contact h3 */
    .hero5-contact h3 {
        margin-right: 0.5rem;
    }
}

/* MEDIA QUERIES SCREEN FOR MIN-WIDTH 768PX AND MAX-WIDTH 1023PX/////////////////////////////////////////////////// */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Adjustments for .Eng-hero */
    .Eng-hero {
        padding: 5rem;
        flex-direction: column;
        align-items: center;
    }

    .Eng-hero-container {
        width: 100%;
        padding: 0;
        padding-top: 2rem;
        padding-left: 0;
    }

    .Eng-hero-container h1{
        font-size: larger;
    }

    .Eng-hero-image {
        width: 100%;
        height: auto;
        border-radius: 20px;
        padding: 1rem;
        margin-top: 2rem;
    }

    .Eng-hero-img {
        border-radius: 30px;
    }

    /* Adjustments for .hero5-contact */
    .hero5-contact {
        width: 80%;
        margin-top: 2rem;
    }

    .hero5-contact h3 {
        margin-right: 0.5rem;
    }
}

/* MEDIA QUERIES FOR SCREEN MAX-WIDTH 767PX ////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 767px) {
    /* Adjustments for .Eng-hero */
    .Eng-hero {
        padding: 2rem;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .Eng-hero-container {
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 1rem;
    }

    .Eng-hero-container h1{
        font-size: larger;
    }

    .Eng-hero-container h3{
        font-size: small;
    }


    .Eng-hero-image {
        width: 100%;
        height: auto;
        border-radius: 20px;
        margin-top: 2rem;
    }

    .Eng-hero-img {
        border-radius: 20px;
    }

    /* Adjustments for .hero5-contact */
    .hero5-contact {
        width: 80%; /* Adjust width */
        margin-top: 1rem; /* Adjust spacing */
    }

    .hero5-contact h3 {
        margin-right: 0; /* Remove margin */
    }
}
