.hero{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    padding: 10rem;
    /* margin-top:7rem; */
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgb(255, 255, 255), #b9e9fc);
    justify-content: center;
}

.hero-container{
    /* border: 1px solid black; */
    width: 54%;
    height: 100%;
}

.hero-logo{
    /* border: 1px solid black; */
    width: 44%;
    height: 100%;
    background-repeat: none;
    background-size: contain;
    display: flex;
    justify-content: top;
    align-items: top;
    align-content: top;
}

.hero-img{
    width: 100%;
    height: 100%;
}

.hero-h1{
    /* border: 1px solid black; */
    padding: 5px;
    font-weight: 500;
    font-size: 3rem;
}

.hero-h5{
    /* border: 1px solid black; */
    font-weight: 400;
    padding: 5px;
    font-size: 1rem;
}

/* HERO TWO //////////////////////////////////////////////////////////////////////// */
.herotwo{
    /* border: 5px solid rgb(250, 28, 28); */
    width: 100%;
    height: auto;
    /* background-color: black; */
    background-size: cover;
    background-image: url(/src/assets/african-man-black-suit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.hero-two-container{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 2rem;
}

.hero-two-container h3{
    color: white;
    font-weight: 500;
}

.Abt-Content-Wrap{
    /* border: 4px solid white; */
    margin-top: 1rem;
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Abt-Content{
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem 3.25rem;
    justify-content: center;
    gap: 0.5rem;
}

.Abt-Content h2 {
    color: #fff;
    font-size: 2rem;
}

.Abt-Content h4{
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: relative;
}

/* HERO THREE //////////////////////////////////////////////////////////////////////// */
.herothree{
    /* border: 2px solid black; */
    width: 100%;
    height: auto;
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.herothree-container{
    /* border: 1px solid black; */
    width: 32%;
    height: 100%;
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    justify-content: space-between;    
}

.herothree-container:hover{
    background-image: linear-gradient(to right, rgb(255, 255, 255), #dbf1fa);
}


.herothreelogo1{
    /* border: 1px solid black; */
    width: 100%;
    height: 50%;
    background-repeat: none;
    background-size: contain;
    display: flex;
}

.herothreeImg1{
    width: 100%;
    height: 100%;
}

.herothreetext{
    /* border: 1px solid rgb(224, 8, 8); */
    width: 100%;
    height: 17rem;
    padding: 1rem;
}

.herothreetext1{
    font-weight: 500;
}

.herothreetext2{
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.herothreebox{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #0099D7;
    margin-top: 3rem;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.herothreereadmore{
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.herothreebox:hover{
    background-color: #020858;
}

/* HERO FOUR //////////////////////////////////////////////////////////////////////// */
.herofour{
/* border: 1px solid black; */
width: 100%;
height: auto;
padding: 2rem;
padding-left: 10rem;
padding-right: 10rem;
display: flex;
align-items: center;
align-content: center;
position: center;
flex-direction: column;
background-color: rgb(255, 255, 255);
justify-content: space-between;
}

.herofour-container{
/* border: 1px solid black; */
width: 100%;
height: 100%;
padding: 1rem;
align-items: center;
height: auto;
display: flex;
flex-direction: column;
/* background-color: #eee; */
justify-content: space-between;    
}

.herofourtxt1{
    font-weight: 500;
}

.herofourtxt1{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
}

.herofourtext2{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.herofour-con{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.herofour-conA{
     /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.herofour-con1{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 1rem;
    width: 49%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.herofour-con2{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 1rem;
    width: 49%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.herofour-con3{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 1rem;
    width: 49%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.herofour-con4{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 1rem;
    width: 49%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fourholder1,
.fourholder2,
.fourholder3,
.fourholder4{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #eee;
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.herofour-con1 p,
.herofour-con2 p,
.herofour-con3 p,
.herofour-con4 p{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.herofour-con1 h4,
.herofour-con2 h4,
.herofour-con3 h4,
.herofour-con4 h4{
    font-weight: 500;
}

.herofour-icon1 button,
.herofour-icon2 button,
.herofour-icon3 button,
.herofour-icon4 button{
    /* border: 1px solid black; */
    width: 10%;
    height: 3rem;
    /* border: none; */
}

.herofour-icon{
    scale: 50%;
}

/* HERO FIVE //////////////////////////////////////////////////////////////////////// */
.herofive{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    align-items: center;
    align-content: center;
    position: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.herofive-container{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    padding: 1rem;
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: row;
    /* background-color: #eee; */
    justify-content: space-between;    
}

.herofive-logo{
    /* border: 1px solid black; */
    width: 49%;
    height: 30rem;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.herofiveImg{
    scale: 100%;
}

.herofivetext{
    /* border: 1px solid black; */
    width: 49%;
    height: 30rem;
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 3.5rem;
}

.herotxt1{
    /* border: 1px solid black; */
    width: 50%;
    height: 5rem;
}

.herofive1{
    font-weight: 500;
}

.herotxt2,
.herotxt3{
    /* border: 1px solid black; */
    width: 65%;
    height: rem;
}

.herofive2,
.herofive3{
    font-weight: 400;
}

#hero5-contact{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #0099D7;
    width: 40%;
    height: auto;
    padding: 0.6rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;  
}

.hero5us{
    color: white;
    font-weight: 500;
    text-decoration: none;
    /* margin-right: 1rem; */
}

#hero5-contact:hover{
    background-color: #020858;
}

/* GENERAL_BUTTON_STYLE ///////////////////////////////////////////////////////////////// */
button{
    border: none;
}

/* HERO SIX //////////////////////////////////////////////////////////////////////// */
.herosix{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    align-items: center;
    align-content: center;
    position: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.herosix-container{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    padding: 1rem;
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: row;
    /* background-color: #eee; */
    justify-content: space-between;    
}

.herosixtext{
     /* border: 1px solid black; */
     width: 49%;
     height: 20rem;
     background-repeat: none;
     background-size: cover;
     display: flex;
     flex-direction: column;
     padding-left: 3.5rem;
}

.hero6txt1{
    /* border: 1px solid black; */
    width: 100%;
    height: 3rem;
}

.herosix1{
    font-weight: 500;
}

.hero6txt2{
    /* border: 1px solid black; */
    width: auto;
    height: auto;
}

.herosix2{
    font-weight: 400;
}

.herosix-logo{
    /* border: 1px solid black; */
    width: 49%;
    height: 20rem;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero6-contact{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #0099D7;
    width: 35%;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
}

.hero6us{
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.hero6-contact:hover{
    background-color: #020858;
}

/* FOOTER ///////////////////////////////////////////////////////////////////////////////////////////////// */
.footer{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    align-items: center;
    align-content: center;
    position: center;
    flex-direction: column;
    /* background-color: #eee; */
    justify-content: space-between;
}

.footer-container{
    /* border: 1px solid black; */
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #eee;
    justify-content: space-between;    
}

.section1{
    /* border: 1px solid black; */
    width: 34%;
    height: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.section2{
    /* border: 1px solid black; */
    width: 65%;
    height: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footertxt1{
    /* border: 1px solid black; */
}

.footertxt1, h3{
    font-weight: 500;
}

.section1 h5{
    font-weight: 400;
}

.sectiontxt1{
    /* border: 1px solid black; */
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Sub-form{
    /* border: 1px solid black; */
    width: 100%;
    height: 40%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

.sectiontxt2{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    padding: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.Home-input{
    border: none;
    border-radius: 5px;
    background-color: white;
    width: 73%;
    padding: 0.5rem;
}

.Submit{
    /* border: 1px solid black; */
    background-color: #0099D7;
    border-radius: 5px;
    width: 25%;
    color: white;
}

.Submit:hover{
    background-color: #020858;
}

.stxt1,
.stxt2{
    /* border: 1px solid black; */
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.stxt1 h5,
.stxt2 h5{
    font-weight: 400;
}

.footersocials{
    /* border: 1px solid black; */
    width: 30%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}

.copy-right{
    /* border: 1px solid black; */
    width: 100%;
    height: 4rem;
    padding: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

.copy-right h5{
    font-weight: 400;
}

/* MEDIA QUERIES SCREEEN FOR 1024PX /////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 1024px) {
    .hero {
        padding: 5rem; /* Adjusted padding for larger screens */
        
    }

    .herotwo,
    .herothree,
    .herofour,
    .herofive,
    .herosix,
    .footer {
        padding: 5rem; /* Adjusted padding for larger screens */
    }

    .herotwo{
        padding: 0%;
    }

    .hero-container,
    .hero-two-container,
    .herothree-container,
    .herofour-container,
    .herofive-container,
    .herosix-container,
    .footer-container {
        padding: 2rem; /* Adjusted padding for larger screens */
    }

    .hero-two-container{
        height: 100%;
        width: 100%;
    }

    .herotwo,
    .herofive-logo,
    .herofiveImg,
    .herosix-logo {
        height: 30rem; /* Adjusted height for larger screens */
    }

    .herofour-con1{
        height: auto !important;
    }

    .herofour-con1,
    .section1,
    .section2 {
        height: 18rem; /* Adjusted height for larger screens */
    }

    #hero5-contact{
        width: 40% !important;
        display: flex;
        justify-content: center;
    }

    .hero5img{
        display: none;
    }
}

/* MEDIA QUERIES SCREEEN FOR MIN-WIDTH 768PX MAX-WIDTH 1023PX/////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .hero {
      padding: 2rem; /* Adjust padding for smaller screens */
      padding-top: 5rem;
      justify-content: center;
    }

    .hero-h1,
    .hero-h5{
        text-align: center;
    }

    .hero-logo{
        display: none;
    }
    
    .hero-container {
      width: 70%; /* Adjust width for smaller screens */
    }
  
    .Abt-Content-Wrap {
      width: 80%; /* Adjust width for smaller screens */
    }
  
    .herothree {
      padding: 2rem; /* Adjust padding for smaller screens */
      padding-left: 1rem; /* Adjust padding for smaller screens */
      padding-right: 1rem; /* Adjust padding for smaller screens */
      /* border: 1px solid black; */
    }
  
    .herothree-container {
      width: 32%; /* Adjust width for smaller screens */
      /* border: 1px solid black; */
      height: auto;
    }

    .herothreetext{
        padding-left: 0.5rem;
    }

    .herothreetext1{
        font-size: large;
        font-weight: bold;
    }
  
    .herofour {
      padding: 0.1rem; /* Adjust padding for smaller screens */
      padding-left: 1rem; /* Adjust padding for smaller screens */
      padding-right: 1rem; /* Adjust padding for smaller screens */
    }
  
    .herofour-container {
      width: 100%; /* Adjust width for smaller screens */
    }
  
    .herofive {
      padding: 0.1rem; /* Adjust padding for smaller screens */
      padding-left: 1rem; /* Adjust padding for smaller screens */
      padding-right: 1rem; /* Adjust padding for smaller screens */
    }
  
    .herofive-container {
      padding-left: 1rem; /* Adjust padding for smaller screens */
      padding-right: 1rem; /* Adjust padding for smaller screens */
      width: 100%;
    }
  
    .herofive-logo,
    .herofivetext {
      width: 100%; /* Adjust width for smaller screens */
      height: 25rem; /* Adjust height for smaller screens */
    }

    .herofivetext{
        /* border: 1px solid black; */
        height: auto !important;
    }

    .herotxt1{
        margin-bottom: 1rem;
        /* border: 1px solid black; */
        width: 100%;
    }

    #hero5-contact{
        width: 100% !important;
        padding-left: 6rem;
        padding-right: 6rem;
    }
  
    .herosix {
      padding: 0.1rem; /* Adjust padding for smaller screens */
      padding-left: 1rem; /* Adjust padding for smaller screens */
      padding-right: 1rem; /* Adjust padding for smaller screens */
    }
  
    .herosix-container {
      padding-left: 1rem; /* Adjust padding for smaller screens */
      padding-right: 1rem; /* Adjust padding for smaller screens */
      display: flex;
      justify-content: space-between;
      /* border: 1px solid black; */
    }
  
    .herosixtext,
    .herosix-logo {
      width: 100%; /* Adjust width for smaller screens */
      height: 20rem; /* Adjust height for smaller screens */
    }

    .herosixImg{
        scale: 80%;
    }

    .hero6-contact{
        width: 100%;
    }
  
    .footer {
      padding: 2rem; /* Adjust padding for smaller screens */
      padding-left: 5rem; /* Adjust padding for smaller screens */
      padding-right: 5rem; /* Adjust padding for smaller screens */
    }
  
    .footer-container {
      flex-direction: column; /* Change flex direction for smaller screens */
      align-items: center; /* Align items to center for smaller screens */
    }
  
    .section1,
    .section2 {
      width: 100%; /* Adjust width for smaller screens */
      height: auto; /* Adjust height for smaller screens */
      padding: 1rem; /* Adjust padding for smaller screens */
    }
  }
  
  /* MEDIA QUERIES SCREEEN FOR MAX-WIDTH 767pX/////////////////////////////////////////////////////////////////// */
  @media screen and (max-width: 767px) {
    /* Adjustments for .hero */
    .hero {
        padding: 2rem;
        padding-top: 5rem;
        flex-direction: column;
        align-items: center;
    }

    .hero-container {
        width: 100%;
    }

    .hero-h1,
    .hero-h5{
        text-align: center;
    }

    .hero-logo{
        display: none;
    }


    .hero-two-container{
        padding: 2rem;
    }

    .hero-two-container h3{
        font-size: large;
    }

    .Abt-Content-Wrap{
        width: 100%;
        height: auto;
    }

    .Abt-Content h2{
        font-size: large;
    }

    .Abt-Content h4{
        font-size: small;
    }

    /* Adjustments for .herothree */
    .herothree {
        padding: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .herothree-container {
        width: 100%;
        padding: 0.5rem;
        margin-top: 1rem;
    }

    .herothreetext {
        height: auto;
    }

    .herothreebox {
        width: 100%;
    }

    .herothreereadmore{
        font-size: smaller;
    }

    /* Adjustments for .herofour */
    .herofour {
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .herofour-container {
        width: 100%;
        padding: 0.5rem;
    }

    .herofourtext2{
        justify-content: space-between;
    }
    .herofour-con,
    .herofour-conA{
        flex-direction: column;
    }

    .hero4-img{
        scale: 40%;
    }

    .herofour-con1,
    .herofour-con2,
    .herofour-con3,
    .herofour-con4{
        width: 100%;
        height: auto;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }

    .herofour-icon{
        height: 2rem;
    }

    /* Adjustments for .herofive */
    .herofive {
        padding: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .herofive-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
        margin-top: 2rem;
    }

    .herofive-logo,
    .herofivetext {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .herofiveImg{
        display: none;
    }

    #hero5-contact{
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .hero5img{
        display: none;
    }

    .hero5us,
    .hero6us{
        font-size: small;
    }

    .herotxt1,
    .herotxt2,
    .herotxt3 {
        width: 100%;
    }

    /* Adjustments for .herosix */
    .herosix {
        padding: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .herosix-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
    }

    .herosix-logo,
    .herosixtext {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .herosix-logo{
        display: none !important;
    }

    .hero6txt1{
        margin-bottom: 1rem;
    }

    .hero6-contact {
        width: 100%;
    }

    /* Adjustments for .footer */
    .footer {
        padding: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
    }

    .section1,
    .section2 {
        width: 100%;
        height: auto;
        padding: 0.5rem;
    }

    .socials{
        scale: 60%;
    }

    .sectiontxt2{
        justify-content: space-between;
        padding: 0.3rem;
        margin-top: 0.5rem;
    }

    .Home-input {
        width: 80%;
        font-size:50% ;
    }

    .Submit{
        width: 19%;
        font-size: 50%;
    }

    .copy-right h5{
        font-size: 55%;
    }
}

@media screen and (max-width: 280px) {
    /* Add your styles here */
    .hero-h1 {
      font-size: 20px;
    }

    .herotwo,
    .hero-two-container,
    .Abt-Content-Wrap{
        width: 100%;
    }

    .hero-two-container,
    .Abt-Content-Wrap{
        padding: 0.5rem;
    }

    .herothreetext1,
    .herofourtxt1,
    .herofive1,
    .herosix1{
        font-size: 20px;
    }

    .herosix,
    .herosix-container{
        padding: 1rem;
        /* border: 1px solid black; */
    }

    .herosixtext{
        width: 100%;
        /* border: 1px solid black; */
        padding: none;
    }

    .herosix1{
        /* border: 1px solid black; */
    }

    .herosix2{
        /* border: 1px solid black; */
    }

    .herofour-con1{
        font-size: 13px;
    }

    .footer{
        padding: 0.7rem;
        display: flex;
    }

    .footer-container{
        padding: 0.4rem;
        display: flex;
    }

    .footertxt1{
        font-size: 17px;
    }

    .section2{
        display: flex;
    }

    .stxt1,
    .stxt2{
        width: 100%;
    }

    .section1 h5{
        font-size: 11px;
    }

    .section2 h5{
        font-size: 11px;
    }

    .Sub-form,
    .Home-input,
    .Submit{
        /* border: 1px solid black; */
    }

    .Home-input{
        width: 70% !important;
        font-size: xx-small;
    }

    .Submit{
        font-size: xx-small;
        width: 28%;
    }

    .copy-right h5{
        font-size: 7px;
        padding-top: 0.888rem;
    }
    
  }
